body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #333;
}
header, section, footer {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
header {
  background: #0c4a6e;
  color: white;
  text-align: center;
}

header a {
    color: #fee2e2;
  }
audio {
  width: 100%;
  margin-bottom: 20px;
}
